.section {
  --bulma-section-padding: 2rem 1.5rem;
  --bulma-section-padding-desktop: 2rem 2rem;
  --bulma-section-padding-medium: 2rem 2rem;
  --bulma-section-padding-large: 3rem 5rem;
  padding: var(--bulma-section-padding);
}

.container {
  max-width: 100% !important;
}

h1.title a {
  color: #00d1b2 !important;
}

h2 {
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0 0 0.5rem 0;
}
strong {
  font-weight: 700;
}
.textarea {
    min-height: 450px !important;
    font-size: 0.85rem;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: pre;
    overflow-wrap: normal;
}



#original-file, 
.original-file {
  border: 2px solid #c546e0;
}

.original-file {
  border-radius: 5px;
  padding: 1px 5px;
}

#patched-file,
.patched-file {
  border: 2px solid #51a5e1;
}
.patched-file {
  border-radius: 5px;
  padding: 1px 5px;
}

#patch,
.patch {
  border: 2px solid #00d1b2;
}
.patch {
  border-radius: 5px;
  padding: 1px 5px;
}


footer {
  --bulma-footer-padding: 1rem !important;
}

/** SCROLLBAR */
::-webkit-scrollbar-track {
  background: #1E1E1E;
}
::-webkit-scrollbar-thumb {
  background: #555;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-corner {
  background: rgba(0,0,0,0);
}
