:root {
  --bulma-textarea-min-height: 16rem;
}
h1.title a {
  color: #00d1b2 !important;
}

h2 {
    font-size: 1.2rem;
    font-weight: 700;
}
.textarea {
    min-height: 400px !important;
    font-size: 0.85rem;
    overflow-y: auto;
    overflow-x: auto;
}

footer {
  --bulma-footer-padding: 1rem !important;
}